<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Sistema de Concursos Docentes{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
        {% block javascripts %}{% endblock %}
    </head>
    <body class="body">
        <!-- NO MODIFICAR - Banner de Sessión -->
        <div class="sesion">
            <div id="barrasesion" class="barrasesion">
            <div class="sesioncenter">
            <img alt="" class="imgico" src="{{ asset('images/session/logo30.png') }}"/>
            <div class="divtitulo">Facultad de Cs. M&eacute;dicas</div>
            <div class="divbarrasesion">
            <ul id="itemsbarrasesion">
             <ol id="barlogon">
                <li><a class="menuboton1"><img alt="" src="{{ asset('images/session/usuario.png') }}"/>
                    <span>
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            Usuario: {{ app.user.username }}
                         {% else %}
                            Usuario: Anónimo
                        {% endif %}
                        </span></a>
                </li>
                <li>
                    <a href="#" class="menuboton1"><img alt="" src="{{ asset('images/session/config.png') }}"/>Configuración</a>
                    <div class="sub">
                        <ul>
                            <li><img src="{{ asset('images/session/cuenta.png') }}"/><div><a href="#">Configuración de Cuenta</a></div></li>
                            <li><img src="{{ asset('images/session/ayuda.png') }}"/><div><a href="#">Contacto y Ayuda</a></div></li>
                        </ul>
                    </div>
                </li>
                <li><a href="{{ path('fos_user_security_logout') }}" class="menuboton1"><img src="{{ asset('images/session/cerrar.png') }}"/>Cerrar Sesión</a></li>
             </ol>
            </ul>
            </div>
        </div>
            </div>
        </div>
        <!-- FIN NO MODIFICAR - Banner de Sessión -->
        <div class="contenedor">
            <!-- INICIO. Medio Página -->
            <div class="mid">
                <!-- INICIO. Tabla Sup -->
                <table class="tmidsup">
                    <tr class="trmidsup">
                        <td class="sa1"></td>
                        <td class="sa2"></td>
                        <td class="sa3" rowspan="2"><img src="{{ asset('images/logo.png') }}"/></td>
                        <td class="sa4"></td>
                        <td class="sa5">
                            <span><a href="#">Sistema de Concurso Docente</a>  </span>
                            <div><img alt="" src="{{ asset('images/logo.png') }}"/></div>
                        </td>
                        <td class="sa6"></td>
                        <td class="sa7"></td>
                    </tr>
                    <tr class="trmidsup">
                        <td class="sb1"></td>
                        <td class="sb2"></td>
                        <td class="sb4"></td>
                        <!-- INICIO. Menu -->
                        <td class="menu">
                            <ul id="topnav">
                                <li><a href="{{ path('backend_index') }}" class="menuboton1">Inicio</a></li>
                                <li>
                                    <a href="#" class="menuboton2">Oficina</a>
                                    <div class="sub">
                                        <ul>
                                            <li><a href="{{ path('oficina_new') }}">Alta</a></li>
                                            <li><a href="{{ path('oficina') }}">Administración</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="menuboton2">Concurso</a>
                                    <div class="sub">
                                        <ul>
                                            <li><a href="{{ path('concurso_new') }}">Alta</a></li>
                                            <li><a href="{{ path('concurso') }}">Administración</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="menuboton2">Catedra</a>
                                    <div class="sub">
                                        <ul>
                                            <li><a href="{{ path('catedra_new') }}">Alta</a></li>
                                            <li><a href="{{ path('catedra') }}">Administración</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="menuboton2">Persona</a>
                                    <div class="sub">
                                        <ul>
                                            <li><a href="{{ path('persona_new') }}">Alta</a></li>
                                            <li><a href="{{ path('persona') }}">Administración</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li>
                                    <a href="#" class="menuboton2">Tipo de Cargo</a>
                                    <div class="sub">
                                        <ul>
                                            <li><a href="{{ path('tipocargo_new') }}">Alta</a></li>
                                            <li><a href="{{ path('tipocargo') }}">Administración</a></li>
                                        </ul>
                                    </div>
                                </li>
                                
                                <li class="botonfin"><div class="botonfinal"></div></li>
                            </ul> 
                        </td>
                        <!-- FIN. Menu -->
                        <td class="sb6"></td>
                        <td class="sb7"></td>
                    </tr>
                    <tr class="trmidsup">
                        <td class="sc1"></td>
                        <td class="sc2"></td>
                        <td class="sc3"></td>
                        <td class="sc4"></td>
                        <td class="sc5"></td>
                        <td class="sc6"></td>
                        <td class="sc7"></td>
                    </tr>
                </table>
                <!-- FIN. Tabla Sup -->
                <!-- INICIO. Tabla Medio -->
                <table class="tmidmid">
                    <tr class="trmidmid"><td class="b1"></td>
                        <!-- INICIO. TD MEDIO -->
                        <td class="tdmed">
                            <!-- INICIO. CONTENT MASTER -->
                            {% block titulo %}{% endblock %}
                            {% block body %}{% endblock %}
                            <!-- INICIO. CONTENT MASTER -->
                        </td>
                        <!-- FIN. TD MEDIO -->
                        <td class="b3"></td>
                    </tr>
                    <tr class="trmidinf"><td class="c1"></td><td class="c2"></td><td class="c3"></td></tr>    
                </table>
                <!-- FIN. Tabla Medio -->
                <!-- INICIO. Pie de Página -->
                <div class="bot">
                    <div class="bot1">
                        <div class="footer_links">
                            <strong>© medicina.</strong> 
                            <a href="#">Sobre</a>
                            <a href="#">Terminos del Servicio</a> 
                            <a href="#">Contacto y Ayuda</a> 
                        </div>
                    </div>
                    <div class="bot2">
                        Sistema Desarrollado por Grupo 1
                    </div>
                </div>
                <!-- FIN. Pie de Página -->
            </div>
            <!-- FIN. Medio Página -->
        </div>     
            {% block documentReady %}

{% endblock documentReady %}
    </body>
</html>

