{% extends '::backend.html.twig' %}
{% block id 'oficina' %}
{% block titulo %}
    <h1>Editar Concurso</h1>
{% endblock %}
{% block contenido %}
<h1>Concurso edit</h1>

<form action="{{ path('concurso_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button type="submit">Edit</button>
    </p>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('concurso') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('concurso_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}