{% extends '::backend.html.twig' %}
{% block id 'oficina' %}
{% block titulo %}
<h1>Listado de Oficinas</h1>
{% endblock %}
{% block contenido %}
<div class="divinterna">  
    <h1>Concurso creation</h1>

    <form action="{{ path('concurso_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
            <p>
                <button type="submit">Create</button>
            </p>
        </form>

        <ul class="record_actions">
            <li>
                <a href="{{ path('concurso') }}">
                    Back to the list
                </a>
            </li>
        </ul>
{% endblock %}
{% block documentReady %}
    {{ parent() }}
        <script type="text/javascript" >
            $('.date').datepicker({ dateFormat: 'dd/mm/yy' })
            </script>
{% endblock documentReady %}
