{% extends '::backend.html.twig' %}
{% block id 'oficina' %}
{% block titulo %}
<h1>Crear Concurso</h1>
{% endblock %}
{% block contenido %}
<div class="divinterna">  
     <form action="{{ path('concurso_create') }}" method="post" {{ form_enctype(form) }}>
        <div class="divinterna">  
        {{ form_widget(form) }}
     </div>
    <div class="divbotones">
        <button class="btnaceptar" type="submit"></button>
        <button class="btncancelar" type="button"  onclick='window.location.href = "{{ path('concurso')}}"'></button>
    </div>
{% endblock %}
{% block documentReady %}
    {{ parent() }}
        <script type="text/javascript" >
            $('.date').datepicker({ dateFormat: 'dd/mm/yy' })
            </script>
{% endblock documentReady %}
