{% extends '::backend.html.twig' %}
{% block id 'catedra' %}
{% block titulo %}
    <h1>Listado de Catedras</h1>
{% endblock %}
{% block contenido %}
<div class="divinterna">  
    <table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
        </tr>
    </thead>
    <tbody>
        {% for entity in entities %}
        <tr class="{{ cycle(['GrillaRow','GrillaRowAlt'],loop.index) }}">
            <td><a href="{{ path('catedra_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td valign="middle" align="center" style="width:30px;">
                <a href="{{ path('catedra_edit', { 'id': entity.id }) }}">
                    <img src="{{ asset('images/btn/btn32/edit_item.png') }}" alt="Editar" />
                </a>
            </td>
            <td valign="middle" align="center" style="width:30px;">
                <a href="#"><img src="{{ asset('images/btn/btn32/delete_item.png') }}" alt="Eliminar" /></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<table>
    <tr>
        <td class="tdcuerpomargen">
            <a class="btnOficinaNew" href="{{ path('catedra_new') }}">
            </a>
        </td>
    </tr>
</table>
</div>
{% endblock %}